@import 'src/utils/style-utils.scss';

.askPage {
  @include flex-center;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 4em;
}

.sidePanel {
  background: #E3E7F5;
  border: 1px solid #ccc;
  padding: 1em;

  border-radius: 5px;
  position: relative;
  width: 250px;
  margin-left: 1em;
  padding-bottom: 1em;
  padding-top: 2.5em;
  div {
    margin-bottom: 0.5em;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  div:last-child {
    margin-bottom: 0;
  }
}
.sidePanel:before {
  content: 'Related Questions';
  position: absolute;
  top: 1em;
}

.ask {
  @include flex-column;
  width: 800px;

  textarea {
    height: 300px !important;
  }
}

.firstRow {
  @include flex-row;
  justify-content: space-between;
  margin-bottom: 1em;

  input {
    flex: auto;
    margin-right: 1em;
    border: 1px solid #eee;
    padding: 0.5em 1em;
  }
}

.postButton {
  background-color: #5075F5;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  width: 4em;
  font-size: 16px;
  margin-right: 4px;
  opacity: 0.75;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.postButton:hover {
  opacity: 1
}

.titleBar{
  background: #F5F1E3;
}
