@import 'src/utils/style-utils.scss';

$header-background: #E3E7F5;
$header-foreground: #333;

.header {
  background: $header-background;
  color: $header-foreground;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.brand {
  @include flex-center;
  font-size: 12pt;
  padding: 0.5em;
  width: 100px;
  color: #555;
  font-weight: bold;
  line-height: 1.25em;
  a {
    text-decoration: none;
  }
}

.controls {
  @include flex-row;

  padding: 0.5em;

  .search {
    background: #F5F1E3;
    border: 1px solid #ddd;
    margin-right: 3.5cm;
    width: 15cm;
    padding-left: 1em;
  }
  .search:focus {
    background: #ddd;
  }

  .user {
    @include flex-center;
    @include flex-column;
    font-weight: bold;
    padding: 1em;
    margin-right: 0.5cm;

    .score {
      padding-top: 0.25em;
      font-size: 80%;
    }
  }

  .ask {
    margin-right: 1em;
    margin-top: 0.5em;
  }

  a {
    font-weight: bold;
  }

  .logout {
    margin-top: 0.5em;
  }

  a {
    font-weight: bold;
  }
}
