%flex {
  display: flex;
}

@mixin flex-row {
  @extend %flex;
  flex-direction: row;
}

@mixin flex-column {
  @extend %flex;
  flex-direction: column;
}

@mixin flex-center {
  @extend %flex;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  position: fixed !important;
  z-index: 99;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1em;
  margin: 0 !important;

  &:before {
    content: '';
    background: #333;
    opacity: 0.5;
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  textarea {
    height: 100% !important;
    margin-bottom: 0 !important;
  }

  .maximizeButton {
    right: 20px;
    top: 65px;
  }
}

.maximizeButton {
  position: absolute;
  right: 5px;
  top: 50px;
}
