@import 'src/utils/style-utils.scss';

.answerPanel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em 1em;
  background: #ccc;

  textarea {
    resize: none;
    height: 100% !important;
  }
}

.resizeHandle {
  position: absolute;
  top: -3px;
  left: calc(50% - 350px / 2);
  height: 7px;
  width: 350px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  cursor: pointer;
}

.topBar {
  @include flex-row;
  flex-direction: row-reverse;
}
.closeButton {
  background: none;
  border: none;
  font-size: 2em;
}
