@import 'src/utils/style-utils.scss';

.mainSection {
  @include flex-column;
}

.sort {
  @include flex-row;
  flex-direction: row-reverse;
  margin-bottom: 1em;

  .sortItem {
    margin-left: 1em;
    padding: 0.25em;
    background: #eee;
    border: 1px solid #ccc;
    color: blue;
  }
}

.sidePanel {
  @include flex-column;
  height: 100%;
  border-radius: 5px;
  background: #E3E7F5;
  border: 1px solid #ccc;
  width: 250px;
  margin-right: 1em;
  padding: 1em;
  margin-top: 3.3em;
}

.browse {
  @include flex-row;
  justify-content: center;
  padding: 1em 0;
}

.categories {
  div {
    margin-bottom: 0.5em;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  div:last-child {
    margin-bottom: 0;
  }
}

.miscItems {
  font-size: 12px;
  margin-top: 2em;
  color: #888;

  & > * {
    margin-top: 1em;
  }
}

.miscItem {
  padding-right: 1em;
  display: inline;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.questions {
  @include flex-column;
  width: 800px;
}

.questionCard {
  @include flex-row;
  margin-bottom: 1em;
  border-radius: 5px;
  background: #F5F1E3;
  color: #555;
  border: 1px solid #ccc;
  padding: 1em;
  transition: 0.2s;
  text-decoration: none;

  & > div:first-child {
    flex: auto;
  }

  a {
    color: blue;
  }

  .tags {
    font-size: 80%;
    color: #555;
    cursor: pointer;
    text-decoration: underline;

    .tag {
      margin-right: 0.5em;
    }
    .tag:last-child {
      margin-right: none;
    }
  }
}
.questionCard:last-child {
  margin-bottom: 0;
}

.questionCard:hover {
  border: 1px solid gray;
}

.questionCardScoreContainer {
  @include flex-row;
  @include flex-center;
  cursor: pointer;
  font-size: 2em;

  .questionCardScore {
    cursor: auto;
    text-align: center;
    font-weight: bold;
    width: 1em;
    margin: 0 0.25em;
  }
}

.questionCardCol {
  @include flex-column;
  justify-content: space-between;
}

.user {
  @include flex-column;
  @include flex-center;
  padding: 0.25em;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  font-weight: bold;

  .userScore {
  font-weight: normal;
    font-size: 80%;
  }
}

.sortButton {
  background-color: #5075F5;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-right: 4px;
  opacity: 0.75;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.sortButton:hover {
  opacity: 1
}
.sortButton:active {
  background: #f55070;
}

.promoItem{
  position: relative;
  margin-top: 2em;
  box-sizing: border-box;
  height: 200px;
  background: linear-gradient(45deg, #B2C1F5, #9AAEF5);
  font-size: 1em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  line-height: 1.5em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  &:before {
    content: 'Ad by GeekAds LLC. Provide Feedback';
    font-size: 60%;
    color: white;
    opacity: 0.5;
    position: absolute;
    bottom: -0.25em;
    right: 0.5em;
    text-decoration: underline;
  }

}

.vote {
  font-size: 0.75em;
  cursor: pointer;
  user-select: none;
}
.vote:hover {
  color: #5075F5;
}
.vote:active {
  color: #f55070;
}
