@import 'src/utils/style-utils.scss';

.mainSection {
  @include flex-column;
}

.sort {
  @include flex-row;
  flex-direction: row-reverse;
  margin-bottom: 1em;

  .sortItem {
    margin-left: 1em;
    padding: 0.25em;
    background: #eee;
    border: 1px solid #ccc;
    color: blue;
  }
}

.browse {
  @include flex-row;
  justify-content: center;
  padding: 1em 0;
}

.categories {
  background: #eee;
  border: 1px solid #ccc;
  width: 250px;
  height: 100%;
  margin-right: 1em;
  padding: 1em;

  div {
    margin-bottom: 0.5em;
    color: blue;
  }
  div:last-child {
    margin-bottom: 0;
  }
}

.questions {
  @include flex-column;
  width: 800px;
}

.questionCard {
  margin-bottom: 1em;
  background: #eee;
  color: #555;
  border: 1px solid #ccc;
  padding: 1em;
  
  a {
    color: blue;
  }

  .tags {
    font-size: 80%;
    color: #333;

    .tag {
      margin-right: 0.5em;
    }
    .tag:last-child {
      margin-right: none;
    }
  }
}
.questionCard:last-child {
  margin-bottom: 0;
}
