@import 'src/utils/style-utils.scss';

.autoCompleteInputContainer {
  @include flex-column;

  .suggestions {
    border: 1px solid #eee;
    background: #F5F1E3;

    div {
      padding: 0.5em;
      cursor: pointer;
    }
    div:hover {
      background: #eee;
    }
  }

  input {
    border: 1px solid #eee;
    padding: 0.5em 1em;
  }
}

.currentTags {
  @include flex-row;
  flex-wrap: wrap;
}

.completedTag {
  @include flex-row;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #eee;
  background: #E3E7F5;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.completedTagRemove {
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
  background: #555;
  color: #eee;
  width: 1em;
  height: 1em;
  line-height: 12pt;
}

.completedTagLabel {
  margin-right: 1em;
}

.tagBar {
  background: #F5F1E3;
}
